:root {
  --md-primary-fg-color:        #2c3b5e;
  --md-primary-fg-color--light: #ECB7B7;
  --md-primary-fg-color--dark:  #90030C;
  --md-orange: #f09e6f;
  --md-blue: #63bbee;
  --md-green: #92e285;
  --md-purple: #dc85e9;
  --md-yellow: #fde9a9;
  
}

/* --- Text Classes --- */

.md-typeset .text-definition {
  color: var(--md-orange);
  font-weight: normal;
}
.md-content p.text-quote {
  color: var(--md-yellow);
  font-weight: normal;
}
.md-content p.text-source {
  color: var(--md-green);
  font-weight: normal;
}
.md-typeset .text-warning {
  color: var(--md-purple);
  font-weight: bold;
}
.md-typeset .text-subtle {
  color: var(--md-blue);
  font-weight: bold;
}

.md-typeset .admonition {
  font-weight: normal;
  font-size: 0.8rem;
}
.md-typeset .admonition-title {
  font-size: 0.9rem;
  font-weight: normal;
}
.md-typeset .admonition-content {
  color: var(--md-blue);
  font-weight: normal;
}
.md-typeset .admonition-content > p {
  color: var(--md-blue);
  font-weight: normal;
}
.md-typeset .admonition-content > ul {
  color: var(--md-blue);
  font-weight: normal;
}
.md-typeset .admonition-content > ol {
  color: var(--md-blue);
  font-weight: normal;
}
.md-typeset .admonition-content > li {
  color: var(--md-blue);
  font-weight: normal;
}
.md-typeset .admonition-content > blockquote {
  color: var(--md-blue);
  font-weight: normal;
}
.md-typeset .admonition-content > blockquote > p {
  color: var(--md-blue);
  font-weight: normal;
}

em, i { /* Applies to both <em> and <i> tags, which Markdown uses for italics */
  color: #f09e6f;  /* Replace with your desired color (e.g., #FF0000 for red, orange, etc.) */
  /* other properties to customize the style */
}

strong {
  font-weight: normal;  /* Ensure it's bold, even if the theme overrides it */
  color: #dc85e9;  /* Example: a shade of lightpink */
  /* other styles */
}

/* If you REALLY want to style <b> (which you probably shouldn't use much) */
b {
  color: #dc85e9; /* Example: a shade of pink */
  font-weight: bold; /* Redundant in most cases, but good to be explicit */
  /* Styles for the bold element */
}

mark {
  color: #92e285; /* Ensure text is readable */
  /* other styles, e.g., padding */
}

.md-content h1,
.md-content h2,
.md-content h3,
.md-content h4,
.md-content h5,{
  color: var(--md-primary-fg-color);
  font-weight: normal; /* Ensure headings are not bold */
  font-size: 1.2rem; /* Default size for all headings */
  margin: 0.5rem 0; /* Add some space around headings */
}


.md-content h1 {
  color: #fde9a9;
  font-size: 1.2rem; /* Default size for all headings */
}

.md-content h2 {
  color: #f09e6f;
  font-size: 1.1rem; /* Default size for all headings */
}

.md-content h3 {
  color: #77bc65;
  font-size: 1.1rem; /* Default size for all headings */
}

.md-content h4 {
  color: #729fcf;
  font-size: 1.0rem; /* Default size for all headings */
}

.md-content h5 {
  color: #b294bb;
  font-size: 1.0rem; /* Default size for all headings */
}


